header {
  background-image: url("../img/asteroid4_3.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
} 
.main_title {
  /* color: #2B3F98; */
  /* color: rgb(227, 227, 227); */
  /* color: rgb(245, 164, 164); */
  font-family: 'Catamaran', sans-serif;
  color: white;
  display: flex;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
}
.main_title img {
  width: 20%;
}
/* .main_title div {
  margin-top: 5px;
} */
.subtitle {
  font-size: 24px;
  margin-top: -5px;
}
nav {
  margin: 20px 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
nav a{
  font-family: 'Catamaran', sans-serif;
  color: white;
  /* color: rgb(227, 227, 227); */
  /* color: white; */
  text-decoration: none;
  font-size: 28px;
  margin: 0 40px;
}
nav a:hover{
  /* color: black; */
  color: white;
  text-decoration: underline;
}
body {
  margin: 0;
}
body {
  /* background-color: #95B8D1; */
  /* background-color: #B1DBF9; */
  background-color: #D5E8F6;
}
.explanation {
  text-align: justify;
  margin: 0 auto;
  width: 90%;
}
#pic_of_day_container {
  text-align: center;
}
#pic_of_day_container img{
  margin: 20px 0;
  width: 80%;
}
#asteroid_container {
  text-align: justify;
  flex-direction: column;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: baseline;
  display: flex;
}
.individual_asteroid_container {
  /* background-color: rgb(240, 239, 239); */
  /* background-color: #E8DDB5; */
  /* background-color: #D7D9D7; */
  /* background-color: #205DAC; */
  color: #FFE2EB;
  background-color: #1C4972;
  margin: 15px 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  border: 1px solid gray;
  padding: 30px;
  border-radius: 20px;
}
.text_statistics {
  width: 315px;
}
.diameter_container {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 300px;
}
.diameter_container img{
  width: 220px;
  border-radius: 20px;
}
.specific_asteroid_info {
  /* font-family: 'Alegreya Sans', sans-serif; */
  text-align: left;
  font-family: 'Graduate', cursive;
  margin-bottom: 5px;
}
.photo_caption {
  font-family: 'Alegreya Sans', sans-serif;
  margin-top: 20px;
  text-align: center;
}
.hazardous {
  display: inline-block;
  color: red;
  font-weight: bold;
}
.input_date_text {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  font-size: 18px;
  margin-bottom: 20px;
  padding-top: 20px;
}
#asteroid_input_date {
  text-align: center;
}
  /* -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
  text-transform: uppercase; */

  /* background: #EB3B88; */
  input {
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	/* color: #FFCBE2; */
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
  font-weight: bold;
  font-size: 1em;
}
button {
  font-size: 18px;
  width: 218px;
  -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
  /* background-color: #216288; */
  /* background-color: #205DAC; */
  background-color: #1C4972;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
  border-radius: 30px;
}
button:hover{
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}
.input_form button {
  font-size: 15px;
}
#pic_input_date {
  text-align: center;
}
/* form {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: baseline;
} */

.input_form {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: baseline;
  margin-bottom: 20px;
}

.input_form button {
}

.input_form input {
  margin-bottom: 20px;
}

.animation_test {
  position: relative;
  height: 1000px;
  width: 100%;
}
.test_image {
  position: absolute;
  top: 0;
  right: 500;
}
.test_image img{
  width: 200px;
}